/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.03.2017, 13:28:01
    Author     : Admin
*/

body {
    background-color: #999;
}

div.container {
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
}

div.loading_height {
    height: 25px;
}

div#loading_wrapper {
    display: none;
}

div.loading_wrapper {
    /*padding-top: 5px;*/
    text-align: center;
}

.loading_wrapper span {
    background-color: yellow;
    /*font-family: Arial;*/
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0 2px;
}

div.header {
    border-bottom: 1px solid blue;
    text-align: center;
}

div.header .logo, .descr {
    float: left;
}

div.descr {
    margin-top: 25px;
}

div.header .welcome {
    float: right;
    margin-top: 50px;
}

div.welcome h5 {
    margin: 5px;
}

.search_div form {
    margin-bottom: 5px;
}

.search_div input {
    margin: 10px 2px;
}

input[type="text"] {
    width: 75%;
}

a {
    font-size: 120%;
    margin: 5px 3px;
    padding: 2px;
    text-decoration: none;
}

.selected_letter, .selected_genre {
    background-color: #e4f6f6;
    border: 1px solid #708fc8;
    border-radius: 5px;
    color: #009;
}

div.logo img {
    max-height: 150px;
}

/*div.container div {
    margin: 5px 5px 5px 15px;
}*/

div.left_menu {
    float: left;
    padding: 10px;
}

div.content {
    float: left;
}

#loading_image {
    text-align: center;
    margin-top: 25px;
}

table.book_preview {
    /*width: 65%;*/
}

table.book_preview td{
    /*vertical-align: top;*/
}

.col1 {
    /*width: 100px;*/
    vertical-align: top;
    width: 15%;
}

.col2 {
    vertical-align: top;
    width: 240px;
    /*width: 20%;*/
}

.col3 {
    vertical-align: top;
    width: 350px;
    /*width: 50%;*/
}

.col4 {
    text-align: center;
    vertical-align: middle;
    width: 20px;
}

.col3 textArea {
    width: 99%;
}

.row1 {
    background-color: aliceblue;
}

.row2 {
    background-color: #e4f6f6;
}

rable.book_preview td.book_details {
    width: 30%;
}

table.book_preview img {
    max-height: 200px;
}

table.book_preview p {
    margin-top: 0;
}

div.pagination {
    margin: 10px;
}

div.pagination a {
    margin: 5px;
}

a.selected_page {
    color: darkblue;
    font-size: 120%;
    font-weight: bold;
}

div.clear {
    clear: both;
}

div.footer {
    border-top: 1px solid blue;
    color: background;
    text-align: center;
}